body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0073e6;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 36px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.resource {
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.resource h2 {
    font-size: 24px;
    margin: 10px 0;
}

.resource a {
    text-decoration: none;
    background-color: #0073e6;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

.resource a:hover {
    background-color: #005bab;
}

